{% extends 'base.html.twig' %}
{% block title %}{{ object.name }}{% endblock %}
{% block body %}
    <ul class="object">
        <li>
            <div class="item-title">Пространство имен: </div>
            <div class="namespace">{{ object.namespace }}</div>
        </li>
        <li>
            <div class="item-title">Тип: </div>
            <div class="type">{{ object.type }}</div>
        </li>
        <li>
            <div class="item-title">Имя: </div>
            <div class="name">{{ object.name }}</div>
        </li>
        <li>
            <div class="item-title">Описание: </div>
            <div class="name">{{ object.about }}</div>
        </li>
        {% if object.interfaces|length > 0 %}
            <li>
                <div class="item-title">Реализуемые интерфейсы: </div>
                <div class="name interface-color">
                    {% for interface in object.interfaces %}
                        {{ attribute(object.interfaces_links, interface)|raw }}
                        <span class="name">&nbsp;</span>
                    {% endfor %}
                </div>
            </li>
        {% endif %}
        <li>
            <div class="item-title">Поля: </div>
            {% if object.properties|length > 0%}
                <div class="spoiler-btn" data-target="fields">-</div>
                <div class="spoiler-block" id="fields">
                    {% for field in object.properties %}
                        <div class="field" id="{{ field.name }}">
                            {% if field.pre_modifer %}
                            <div class="fullblock">
                                <div class="badge badge-info">{{ field.pre_modifer }}</div>
                            </div>
                            {% endif %}
                            <div class="fullblock">
                                <div class="about">{{ field.about|raw }}</div>
                            </div><br/>
                            <div class="visibility">{{ field.visibility }}</div>
                            <div class="block">:</div>
                            <div class="name">{{ field.name }}</div><div class="type">
                                <span class="block">(</span>
                                <span class="block">{{ field.type|raw }}</span>
                                <span class="block">)</span>
                            </div>
                            <div class="fullblock"></div>
                            {% if field.default %}
                                <div class="block">Инициализировано: </div> <div class="default">{{ field.default }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="name">Не определены.</div>
            {% endif %}
        </li>
        <li>
            <div class="item-title">Методы: </div>
            {% if object.methods|length > 0 %}
                <div class="spoiler-btn" data-target="methods">-</div>
                <div class="spoiler-block" id="methods">
                    {% for method in object.methods %}
                        <div class="field" id="method_{{ method.name }}">
                            {% if method.pre_modifer %}
                            <div class="fullblock">
                                <div class="badge badge-info">{{ method.pre_modifer }}</div>
                            </div>
                            {% endif %}
                            <div class="fullblock">
                                <div class="about">{{ method.about|raw }}</div>
                            </div><br/>
                            <div class="visibility">{{ method.visibility }}</div>
                            <div class="name">{{ method.name }}</div>
                            <div class="block">(</div>
                            <ul class="arg">
                                {% for arg in method.params_list %}
                                    <li><a href="#{{ method.name }}_{{ arg }}">${{ arg }}</a></li>
                                {% endfor %}
                            </ul>
                            <div class="block">)</div>
                            <div class="bothed-block">:</div>
                            <div class="type return-type">
                                <span class="block">{{ method.return|raw }}</span>
                            </div>
                            <div class="fullblock">
                                {% for param in method.params %}
                                    <div class="method-param" id="{{ method.name }}_{{ param.clear_name }}">
                                        <div class="type">{{ param.type }}</div>
                                        <div class="name">{{ param.name }}</div>
                                        <div class="about">{{ param.about }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="name">Не определены.</div>
            {% endif %}
        </li>
    </ul>
{% endblock %}
